<h2><%= @recipe.name %></h2>
<% if @recipe.book %>
<h3>In Cookbook: <%= @recipe.book.title %></h3>
<% end %>

<p>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>

<p><% image_tag @recipe.image %></p>

<ul>
  <li>Course: <%= @recipe.course %></li>
  <li>Cook time: <%= @recipe.cooktime %></li>
  <li>Serving Size: <%= @recipe.servingsize %></li>
</ul>

<p>Instructions: <%= @recipe.instructions %></p>

<%= link_to "Destroy", @book, method: :delete, data: { confirm: 'Are you sure?'} %>
